body {
	padding-top: 70px;
	font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.inspirational-image {
	width: 100%
}

.modal-body {
	padding: 20px;
}

.modal-body > p {
	padding: 15px;
	font-size: 18px;
}

.inspirational-design-subheader {
	text-align: center;
}

.inspirational-design-header {
	font-size: 80px;
	text-align: center;
}

.navbar-brand {
	font-size: 24px;
}

.logo {
	width: 150px;
	height: auto;
}

.refinement-list {
	font-size: 24px;
	padding-left: 10px;
	/*background-color: lightgrey;*/
	/*border-radius: 5px;*/
}

.refinement > h2 {
	font-size: 42px;
	text-align: center;
}

.refinement > h3 {
	font-size: 34px;
}

.refinement > div > h4 {
	font-size: 28px;
	font-style: bold;
}

.image-block {
	padding: 20px;
}